@{
    ViewBag.Title = "Home Page";
}

<h1 class="title">PACKAGE PLANNER</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="destination-selector">
                <label class="destination-selector__label">From</label>
                <select class="form-control">
                    <option>Tripoli</option>
                    <option>Sahara</option>
                    <option>Wadai</option>
                    <option>Kabalo</option>
                </select>
            </div>

            <div class="destination-selector">
                <label class="destination-selector__label">To</label>
                <select class="form-control">
                    <option>Tripoli</option>
                    <option>Sahara</option>
                    <option>Wadai</option>
                    <option>Kabalo</option>
                </select>
            </div>
            <div class="destination-selector">
                <label class="destination-selector__label">Weight</label>
                <select class="form-control">
                    <option>< 1kg</option>
                    <option>1 - 5 kg</option>
                    <option>5 - 20kg</option>
                </select>
            </div>
            <div class="destination-selector">
                <label class="destination-selector__label">Customer ID</label>
                <input type="text" class="form-control"/>
            </div>
        </div>
        <div class="col-sm">
            <div class="main-logo">
                <img src="./Img/PackagePlannerLogo-desktop.png"/>
            </div>
        </div>
    </div>
</div>

<div class="row go-button">
    <button id="go-button" class="btn btn-light">Check</button>
</div>

<div class="spinner" id="spinner">
    <img class="spinner-icon" src="./Img/spinner.png"/>
</div>

<div id="results-list" class="form-control results-list">
    <div class="results__row">
        <h2 class="destination-selector__label">Best</h2>
        <div class="result-info">
            <div class="result-info__section">
                <span class="result-metric">Time:</span>
                <span class="result-amount">10</span>
                <span class="result-unit">hours</span>
            </div>
            <div class="result-info__section">
                <span class="result-metric">Price:</span>
                <span class="result-amount">99</span>
                <span class="result-unit">dollars</span>
            </div>
        </div>
        <button class="results__select btn btn-light">Select</button>
    </div>
    <div class="results__row">
        <h2 class="destination-selector__label">Fastest</h2>
        <div class="result-info">
            <div class="result-info__section">
                <span class="result-metric">Time:</span>
                <span class="result-amount">10</span>
                <span class="result-unit">hours</span>
            </div>
            <div class="result-info__section">
                <span class="result-metric">Price:</span>
                <span class="result-amount">99</span>
                <span class="result-unit">dollars</span>
            </div>
        </div>
        <button class="results__select btn btn-light">Select</button>
    </div>
    <div class="results__row">
        <h2 class="destination-selector__label">Cheapest</h2>
        <div class="result-info">
            <div class="result-info__section">
                <span class="result-metric">Time:</span>
                <span class="result-amount">10</span>
                <span class="result-unit">hours</span>
            </div>
            <div class="result-info__section">
                <span class="result-metric">Price:</span>
                <span class="result-amount">99</span>
                <span class="result-unit">dollars</span>
            </div>
        </div>
        <button class="results__select btn btn-light">Select</button>
    </div>
</div>