body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* --------- CUSTOM CSS ---------- */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.title {
}

.main-logo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.main-form {

}

.destination-selector {
    display: block;
    margin-bottom: 15px;
}

.destination-selector__label {
    display: block;
}

.results-list {
    width: 100%;
    min-height: 200px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    box-shadow: none;
}

.result-info {
    margin: 10px;
}

.result-metric {
    font-weight: bold;
}

.go-button {
    text-align: center;
}

.spinner {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.spinner-icon {
    animation: spin 1s steps(12, end) infinite;
    width: 25px;
    height: 25px;
}

.error {
    color: red;
}

/* Mobile design */

@media (max-width: 800px) {
    .results-list {
        flex-direction: column;
        border: none;
        margin-top: 75px;
    }

    .main-logo {
        display: none;
    }

    select, input {
        max-width: 100%;
    }

    .destination-selector__label {
        width: 100%;
    }
}